<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Form</title>
    <style>
        .featurelist{
        -webkit-column-count: 4; /* Chrome, Safari, Opera */
        -moz-column-count: 4; /* Firefox */
        column-count: 4;
        }
    </style>
</head>
<body>

    <form action="/chart/" method="post">
        <div class="featurelist">
        {% csrf_token %}
        {{ form }}
        </div>
        <div>
            <br>
            <input type="submit" value="Submit">
        </div>
    </form>

</body>

</html>