<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chart</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <style>
    .featurelist{
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
    }
    h1 {
      font-family: 'Copperplate', fantasy;
      font-size: 3em;
      margin-block-start: 0em;
      margin-block-end: 0em;
    }
    h2{
      font-family: 'Copperplate', fantasy;
    }
    body{
      background-color: #f2f5f3
    }
</style>
</head>
<body>
  <center class="row">
		<h1>Cluster-Vis</h1>
	</center>
<hr>
  <h2>Features:</h2>
    <form action="/" method="post">
      <div class="featurelist">
        {% csrf_token %}
        {{ form }}
      </div>
      <br>
      <div>
        <input type="submit" value="Visualize">
      </div>
    </form>
    <br>
    <h2>Parallel-Coordinates Plot:</h2>
    {% autoescape off %}
    {{ parallel_coords_plot }}
    {% endautoescape %}
  <hr>
    <h2>Scatterplot Matrix:</h2>
    {% autoescape off %}
    {{ scatter_matrix_plot }}
    {% endautoescape %}
</body>
</html>
